<div class="container">
  <%= form_for(:session, url: login_path) do |f| %>
    <p>Enter your email and password to login.</p>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.submit 'Submit', class: 'button color-5' %>
  <% end %>
  <%= link_to "Back", root_path %>
</div>
