<div class="container">
    <%= link_to new_group_path, class: 'button new right small-3' do %>
    Create a New Group <i class="fa fa-plus-circle"></i>
    <% end %>
  <div class="bio_profile">
    <h2><%=link_to @user.name, user_path(@user.id) %></h2>
    <h2><%= @user.email %></h2>
    <p><%= @user.bio %></p>
  </div>



  <div class="my-groups right">
    <h4>Your Groups:</h4>
    <% @user.groups.each do |group| if @user.groups %>
      <%= link_to group.name, group_path(group) %>
      <br>
      <% group.members.each do |user|  %>
        <% if current_user.id != user.id %>
          <p><%= link_to user.name, user_path(user.id)  %></p>
        <% end %>
      <% end %>
    <% end %>
    <% end %>
  </div>

  <div class="my-games">
    <h4>Games You Own:</h4>
    <% @user.games.each do |game| if @user.games %>
      <%= link_to game.name, game_path(game) %>
    <% end %>
    <% end %>
  </div>

  <div class="my-reviews">
      <% @user.reviews.each do |review| if @user.reviews %>
        Game Name: <%= review.game.name %>
        <%= render partial: "user_review", locals: {review: review} %>
        <% end %>
    <% end %>
  </div>

 </div>

