<div class="container">

  <ul>
    <h2><%= @game.name %></h2>
    <img src="<%= @game.image_url %>">
    <li>Fun Score: <%= @game.fun_average %></li>
    <li>Difficulty Score: <%= @game.difficulty_average %></li>
    <br>
    <li>Description: <%= @game.description %></li>
    <li>Link: <%= link_to @game.info_link, @game.info_link %></li>
  </ul>

  <% if current_user %>
    <% current_user.groups.each do |group| %>
      <div class="group-name"><%=link_to group.name, group_path(group)%></div><br>
      <div class="group-games">
        <ul>
          <% group.members.each do |user| %>
            <% user.games.each do |game| %>
              <% if @game.name == game.name %>
                <% if current_user.id != user.id %>
                    <li><%= user.name %> has this game.</li>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>

  <% if current_user  %>
    <h4><%= link_to "Leave a Review", new_game_review_path(@game) %></h4>
  <% end %>
  <h4>Reviews: </h4>
  <%= render @reviews %>




</div>
