<div class="container">

  <ul>
    <h2><%= @game.name %></h2>
    <img src="<%= @game.image_url %>">
    <li>Fun Score: <%= @game.fun_average %></li>
    <li>Difficulty Score: <%= @game.difficulty_average %></li>
    <br>
    <li>Description: <%= @game.description %></li>
    <li>Link: <%= link_to @game.info_link, @game.info_link %></li>
  </ul>

    <% if current_user %>
      <% current_user.groups.each do |group| %>
        <b><%= group.name %></b>
        <ul>
        <% group.members do |user| %>
          <% user.games do |game| %>
            <% if @game.name == game.name %>
            <li><%= user.name %> has this game.</li>
            <% end %>
          <% end %>
        </ul>
        <% end %>
      <% end %>
    <% end %>

  <% if current_user  %>
    <h4><%= link_to "Leave a Review", new_game_review_path(@game) %></h4>
  <% end %>
  <h4>Reviews: </h4>
  <%= render @reviews %>


<!--   <h3>Reviews:</h3>
    <% @game.reviews.each do |review| %>
      <ul>
        <li>Review By: <%= review.reviewer.name %></li>
        <li>Fun Score: <%= review.fun_rating %></li>
        <li>Difficulty Score: <%= review.difficulty_rating %></li>
        <li><%= review.content %></li>
      </ul>
      <br>
    <% end %> -->

</div>
