
<div class="rating">
  Fun Rating: <%= review.fun_rating %>
</div>
<div class="rating">
  Difficulty Rating: <%= review.difficulty_rating %>
</div>
<div class="review-content">
  Content: <%= review.content %>
</div>
<div class="reviewer">
  Author: <%= review.reviewer.name %></li>
</div>
<% if current_user.name == review.reviewer.name %>
  <%= link_to "Delete", game_review_path(@game, review), method: :delete %>
  <%= link_to "Edit", edit_game_review_path(@game, review) %>
<% end %>
<br>
