<div class = "container">
  <h1>Welcome to Free Parking!</h1> 
  <h3>The source for all of your board-gaming-nerd-loving needs</h3>
  <div class = "alphabet_nav">
  <ul> | <%= link_to "All", games_path %> |
  <% @alphabet.each do |letter| %>
      <%= link_to letter, games_path(:alphabet_sort => letter) %> |
  <% end %>
  </ul>
  </div>
<div class="table">
  <table>
    <tr>
      <div class = "table_header_row">
        <% if params[:sort_by] == "name_asc" %>
          <td><%= link_to "Name", games_path(:sort_by => "name_desc", :alphabet_sort => params[:alphabet_sort]) %></td>
        <% else %>
          <td><%= link_to "Name", games_path(:sort_by => "name_asc", :alphabet_sort => params[:alphabet_sort]) %></td>
        <% end %>
        <% if params[:sort_by] == "fun_asc" %>
          <td><%= link_to "Fun Rating", games_path(:sort_by => "fun_desc", :alphabet_sort => params[:alphabet_sort]) %></td>
        <% else %>
          <td><%= link_to "Fun Rating", games_path(:sort_by => "fun_asc", :alphabet_sort => params[:alphabet_sort]) %></td>
        <% end %>
        <% if params[:sort_by] == "dif_asc" %>
          <td><%= link_to "Difficulty Rating", games_path(:sort_by => "dif_desc", :alphabet_sort => params[:alphabet_sort]) %></td>
        <% else %>
          <td><%= link_to "Difficulty Rating", games_path(:sort_by => "dif_asc", :alphabet_sort => params[:alphabet_sort]) %></td>
        <% end %>
        <% if params[:sort_by] == "players_asc" %>
          <td><%= link_to "Players", games_path(:sort_by => "players_desc", :alphabet_sort => params[:alphabet_sort]) %></td>
        <% else %>
          <td><%= link_to "Players", games_path(:sort_by => "players_asc", :alphabet_sort => params[:alphabet_sort]) %></td>
        <% end %>
      </div>
    <% @games.each do |game| %>
      <tr>
          <td><%= link_to game.name, game_path(game) %></td>
          <td><%= game.fun_average %></td>
          <td><%= game.difficulty_average %></td>
          <% if game.max_players != nil && game.max_players != 0 %>
            <td><%= game.min_players %>-<%= game.max_players %></td>
          <% else %>
            <td><%= game.min_players %></td>
          <% end %>
      </tr>
    <% end %>
  </div>
</div>
