<div class="container clearfix">
  <%= form_for @game do |f| %>
    <%= f.label :Game_name %>
    <%= f.text_field :name %>
    <%= f.label :image_url %>
    <%= f.text_field :image_url %>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= f.label :info_link %>
    <%= f.text_field :info_link %>
    <%= f.label :min_players %>
    <%= f.text_field :min_players %>
    <%= f.label :max_players %>
    <%= f.text_field :max_players %>
    <%= f.submit 'Create a Game', class: 'button color-5' %>
  <% end %>
  <%= link_to "Back", root_path %>
</div>



