<div class="container">

  <ul>
    <h2><%= @game.name %></h2>
    <img src="<%= @game.image_url %>">
    <li>Fun Score: <%= @game.fun_average %></li>
    <li>Difficulty Score: <%= @game.difficulty_average %></li>
    <br>
    <li>Description: <%= @game.description %></li>
    <li>Link: <%= link_to @game.info_link, @game.info_link %></li>
  </ul>

  <% if @game.creator == current_user %>
    <div class="delete_game_button"><%= link_to "Delete this Game", game_path(@game), method: :delete %></div>
    <div class="edit_game_button"><%= link_to "Edit this Game", edit_game_path(@game) %></div>
  <% end %>

  <% if current_user %>
    <% current_user.groups.each do |group| %>
      <div class="group_name"><%=link_to group.name, group_path(group)%></div><br>
      <div class="group_games">
        <ul>
          <% group.members.each do |user| %>
            <% user.games.each do |game| %>
              <% if @game.name == game.name %>
                <% if current_user.id != user.id %>
                    <li><%= user.name %> has this game.</li>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
  <div class="review_game_button">
  <% if current_user  %>
    <h4><%= link_to "Leave a Review", new_game_review_path(@game) %></h4>
  <% end %></div>
  <div class="review_header"><h4>Reviews: </h4></div>
  <%= render @reviews %>

  <% if current_user && current_user.games.include?(@game) %>
      <p>You own this game!</p>
      <%= link_to 'Remove game from your collection', delete_game_path(@game), method: :delete%>
  <% else %>
      <%= link_to "Add game to your collection!", add_game_path, method: :post %>
  <% end %>





</div>
