<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	  <title>FreeParkingNew</title>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Rubik:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application' %>
	  <%= csrf_meta_tags %>
</head>

<body>
  <div class="main">
  <div id="top-bar">
  <div class="clearfix">

    <% if current_user %>
      <%= link_to logout_path, method: :delete do %>
        <span class="logout"><i class="fa fa-long-arrow-left"></i> Logout</span>
      <% end %>
    <% else %>
      <%= link_to login_path do %>
         <span class="login"><i class="fa fa-long-arrow-right"></i> Login</span>
      <% end %>
    <% end %>

    <% if current_user %>
      <%= link_to user_path(current_user.id) do %>
          <span class="profile"><i class="fa fa-user"></i> Profile</span>
      <% end %>
    <% else %>
      <%= link_to new_user_path do %>
          <span class="profile"><i class="fa fa-user-plus"></i> Register</span>
      <% end %>
    <% end %>

  </div>
</div>

<header>
  <%= link_to image_tag ("freeparkinglogo.png") %>

</header>

  <nav class="row">
    <div class="large-12 columns">
      <ul class="button-group">
        <li><%= link_to "All Games", root_path, class: 'button new small-3' %></li>
        <li><% if current_user %>
    <%= link_to new_game_path, class: 'button new right small-3' do %>
    Add a Game <i class="fa fa-plus-circle"></i>
    <% end %>
  <% end %></li>

      </ul>
    </div>
  </nav>
 

<%= yield %>

</div>
</body>
</html>


